.aboutPic {
    height: 500px;
    width: 500px;
    background: linear-gradient(360deg, rgb(242, 207, 205), #F5F4F0 40%)
}

@media screen and (max-width: 768px) {
    .aboutPic {
        height: 300px;
        width: 300px;
        background: linear-gradient(360deg, rgb(242, 207, 205), #F5F4F0 40%)
    }
  }